.primary-btn {
  display: flex;
  padding: .8rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  background: #252525;
  box-shadow: -10px -10px 10px 0px rgba(255, 255, 255, 0.05) inset;
  cursor: pointer;
  border-radius: 5px;
  transition: all 400ms linear;
}
.primary-btn-text{
    font-size: .8rem;
    letter-spacing: 2px;
    color: white;
}
.primary-btn:hover{
  transform: translateY(-5px);
}