.home-container {
  background-image: url(../../assets/images/home-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
  position: relative;
}
.home-blur-bg {
  height: calc(100% - 7rem);
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(7.5px);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-heading-wrapper {
  font-family: Days One;
  display: flex;
  align-items: last baseline;
  gap: 10px;
  color: rgba(255, 255, 255, 0.5);
}
.green-color {
  background: linear-gradient(
    90deg,
    rgba(0, 255, 56) 1.02%,
    rgba(0, 224, 90) 30.56%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-heading-wrapper h1 {
  font-size: 3rem;
  letter-spacing: 5px;
}
.potential-wrapper{
    line-height: 170%;
}
.potential-wrapper h1 {
  color: rgba(255, 255, 255, 0.1);
}
.potential-wrapper span {
  font-size: 1rem;
  font-family: poppins;
}
.home-iqra-heading {
  font-family: PT Serif Caption;
  font-style: italic;
  letter-spacing: 0.3rem;
  font-size: 2.5rem;
}
.home-iqra-heading span {
  background: linear-gradient(180deg, #ffbc57 0%, #ed8f00 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-heading-p{
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.75);
}