.nav-container {
  /* background-color: white; */
  padding: 1rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-nav-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav-logo-wrapper {
  background-color: white;
  width: 4rem;
  height: 4rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.nav-logo-wrapper img {
  width: 2rem;
}
.nav-btns-wrapper {
  display: flex;
  gap: 1.5rem;
}
.nav-btns-wrapper a {
  color: white;
  text-decoration: none;
  transition: all 400ms linear;
  font-weight: 500;
}
.nav-btns-wrapper a:hover{
    /* transform: translateY(-5px); */
    color: #FFC977;

}
.right-nav-wrapper {
  display: flex;
  gap: 1rem;
}
